<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RandomFilms</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-select-1.14.0-beta2/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/ParticalFontAwsome/css/all.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7JQ44WT4TQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7JQ44WT4TQ');
    </script>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    <script type="text/javascript" src="~/lib/ParticalFontAwsome/js/all.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/poper/src/popper.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-select-1.14.0-beta2/js/bootstrap-select.min.js"></script>
</body>
</html>
