@model ChangePasswordModel
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Change Password";
}
<div class="card">
    <div class="card-header">
        Change Password
    </div>
    <div class="card-body">
        <form asp-controller="Users" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="mb-3">
                <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                <input type="text" asp-for="NewPassword" class="form-control" required />
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
</div>