<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/errors/css/403/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/errors/js/403/site.js"></script>
</body>
</html>
