@model GenreModel
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Add Genre";
}
@if (Model?.Id == 1)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Well done!</strong> Aww yeah, you successfully added genre.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (Model?.Id == 2)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="fas fa-exclamation-triangle mx-2"></i>
        <div>
            This genre has been already added
        </div>
    </div>
}
<div class="card">
    <h5 class="card-header">Add Genre</h5>
    <div class="card-body">
        <form asp-controller="Genre" asp-action="AddGenre" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Genre</label>
                <input type="text" class="form-control" asp-for="Genre" placeholder="Genre" required>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <input type="submit" class="btn btn-primary" value="Add Genre">
        </form>
    </div>
</div>